body {
    background-color: #e6e1e1;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Full height of the viewport */
}

.container {
    background-color: #f2e7e7;
    padding: 1px;
    border-radius: 8px;
    border: 1px solid #eddfdf;
    box-shadow: 9 8px 18px rgba(0, 0, 0, 0.1);
    width: 600px; /* Set a fixed width for the form */
}

.container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.container table {
    width: 100%;
}

.container td {
    padding: 2px;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="email"],
.container input[type="number"],
.container select {
    width: 60%;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.container input[type="file"] {
    margin: 10px 0;
}

.container img {
    margin-top: 10px;
    border-radius: 4px;
}

.container button {
    width: 25%;
    height: 5%;
    padding: 5px;
    background-color: #686a6b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s;
}

.container button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.container p {
    text-align: center;
    margin-top: 20px;
}

.container a {
    color: #007bff;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}
